* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Alice', serif;
  line-height: 1.5;
  font-size: 20px;
}

body {
  background-image: url(assets/fundo.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.296), rgba(0, 0, 0, 0.47)), url(assets/fundo.jpg);
  background-size: cover;
}

#page {
box-sizing: border-box;
width: 800px;
padding: 50px;
background-color: #f0e8c2;
border-radius: 24px;
margin: 45px auto 28px;
align-items: center;
}

img {
  border-radius: 16px;
}

main {
 padding: 16px;
}

section + section {
  margin-top: 20px;
}

#about p + p {
  margin-top: 12px;
}
 

h1 {
line-height: 140%;
text-align: center;
font-size: 40px;
margin-bottom: 4px;
}

h2 {
font-size: 24px;
margin-bottom: 4px;
}

h1, h2{
  line-height: 150%;
}

ul {
 padding-left: 28px;
}

footer{
  text-align: center;
  margin-bottom: 48px;
  color: #f0e8c2;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
  font-weight: bolder;
}