body {
  background-image: url(assets/fundo.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.296), rgba(0, 0, 0, 0.242)), url(assets/fundo.jpg);
  background-size: cover;
}

#page {
box-sizing: border-box;
width: 800px;
padding: 24px;
background-color: #f0e8c2;
border-radius: 24px;
margin: 45px auto;
align-items: center;
}

img {
  border-radius: 16px;
}